@model _29368081_FIT5032_Assignment.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.car_make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_modelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_modelYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
